/* menu img src : https://upload.wikimedia.org/wikipedia/commons/c/c8/Le_Canigou_vu_du_Montou.jpg */
.bg{
	background: transparent url("img/bg.jpg")/* no-repeat scroll top right / cover */;
	background-attachment: fixed;/* paralax */
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 -1px 10px rgba(207, 207, 207, .72) inset;/* ombre */
	transform-style: inherit;
	background-position: top right;
}
.article img.art_thumbnail {
	width: 50%;
}
@media (max-width: 767px) {
	.bg {
		background: transparent url(img/bg.mob.jpg)/* no-repeat scroll top right / cover */;
	}
@media (min-width: 464px) {
	.article img.art_thumbnail {
		width: 25%;
	}
}